.noteList {
	display: flex;
	justify-content: center;
	margin: 0px auto;
}

.noteListContainer {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 0.5rem;
	justify-content: space-evenly;
}
