.noteList {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	width: 100%;
}

.noteListContainer {
	display: grid;
	grid-template-columns: repeat(5, auto);
	justify-content: space-evenly;
}

@media only screen and (max-width: 84.25em) {
	.noteListContainer {
		grid-template-columns: repeat(4, auto);
	}
}

@media only screen and (max-width: 80em) {
	.noteListContainer {
		grid-template-columns: repeat(3, auto);
	}
}

@media only screen and (max-width: 55.25em) {
	.noteListContainer {
		grid-template-columns: repeat(2, auto);
	}
}

@media only screen and (max-width: 37.75em) {
	.noteListContainer {
		grid-template-columns: repeat(1, auto);
	}
}
