.card {
	padding: 2rem;
	background-color: #fff7dc;
	box-shadow: 1px 2px 3px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	color: #404040;
	transition: all ease-in 0.2s;
	max-width: 14rem;
	max-height: 20rem;
	overflow: hidden;
}

.card:hover {
	transform: scale(1.02);
	rotate: calc(1deg);
	box-shadow: 1px 2px 7px;
}

.cardBody {
	overflow: hidden;
	mask-image: linear-gradient(180deg, #000 60%, transparent);
	height: 12rem;
	-webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.cardDescription {
	white-space: pre-line;
}

.cardFunctions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cardTrashcan {
	fill: #ff0000;
	width: 1.5rem;
	height: 1.5rem;
}

.cardPencil {
	fill: #7cfc00;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 5px;
}

.cardTrashcan:hover,
.cardPencil:hover {
	cursor: pointer;
}
